{FONT_DECL}
*
{
	box-sizing:border-box;
	font-family:{FONT}, Arial;
	font-size:inherit;
}
h1, h2, p
{
	margin:0;
	font-weight:normal;
}
body
{
	font-size:13px;
	color:#222;
	margin:0;
	padding:.5em;
	position:relative;
}
a
{
	color:#222;
	text-decoration:none;
}
a:hover, .tool-title:hover
{
	color:#090;
}
#main
{
	margin:0 3em 0 0;
}
button
{
	appearance:none;
	-webkit-appearance:none;
	transition:all .2s ease;
	-webkit-transition:all .2s ease;
}
header h1
{
	display:inline-block;
	margin:0;
}
header
{
	font-size:2em;
	margin:auto;
}
footer
{
	text-align:center;
	margin:1em 0 0;
}
footer a {
	padding:.5em;
}
ul
{
	list-style-type: none;
	padding:0;
	margin:0;
}
.tool
{
	display:flex;
	padding:.75em 0;
	border-bottom:1px solid #444;
}
.tool-title
{
	color:#060;
	display:inline-block;
}
.tool-desc
{
	margin:auto;
	font-size:.95em;
	padding:0 1em 0 0;
	display:inline-block;
	width:100%;
	text-align:justify
}
.tool-link
{
	margin:auto;
	min-width:35%;
}
.icon
{
	display:inline-block;
	font-style:normal;
	font-size: 1.3em;
	height:0;
}
.tool-repo
{
	text-align:center;
	font-size:1.2em;
	width:6%;
	margin:auto 0 auto 1em;
}
::selection
{
	background:#090;
	color:#fff;
}
::-webkit-scrollbar
{
	background:#fff;
}
::-webkit-scrollbar-thumb
{
	background:#090;
}
@media only screen and (min-width:600px)
{
	body
	{
		font-size:16px;
		padding:1em;
	}
}
