{FONT_DECL}
* {
	box-sizing:border-box;
	font-family:{FONT}, Arial;
	font-size:inherit;
}
h1, h2, p {
	font-weight:normal;
	margin:0;
}
body {
	color:#222;
	font-size:13px;
	margin:0;
	position:relative;
}
a {
	color:#222;
	text-decoration:none;
}
a:hover, .tool-title:hover {
	color:#090;
}
#main {
	margin:.5em .5em;
}
button {
	-webkit-appearance:none;
	-webkit-transition:all .2s ease;
	appearance:none;
	transition:all .2s ease;
}
header h1 {
	margin:0;
}
header {
	background:#090;
	color:#fff;
	font-size:1.8rem;
	padding:1em .5em;
	text-align:center;
}
footer {
	margin:1em 0 0;
	text-align:center;
}
footer a {
	padding:.5em;
}
ul {
	list-style-type: none;
	margin:0;
	padding:0;
}
.tool {
	display:flex;
	padding:.7em 0;
	border-bottom:1px solid #CCC;
}
.tool-title {
	color:#090;
	display:inline-block;
}
.tool-desc {
	display:inline-block;
	font-size:.95em;
	margin:auto;
	padding:0 1em 0 0;
	text-align:justify;
	width:100%;
}
.tool-link {
	margin:auto;
	min-width:35%;
}
.icon {
	display:inline-block;
	font-size: 1.3em;
	font-style:normal;
	height:0;
}
.tool-repo {
	font-size:1.3em;
	margin:auto 0 auto .5em;
	text-align:center;
	width:6%;
}
::selection {
	background:#090;
	color:#fff;
}
::-webkit-scrollbar {
	background:#fff;
}
::-webkit-scrollbar-thumb {
	background:#090;
}
@media only screen and (min-width:600px) {
	body {
		font-size:16px;
	}
}
