{FONT_DECL}
* {
	box-sizing:border-box;
	font-family:{FONT}, Arial;
	font-size:inherit;
}
h1, h2, p {
	font-weight:normal;
	margin:0;
}
html {
	font-size:13px;
}
body {
	color:#FFF;
	font-size:inherit;
	margin:0;
	text-align:center;
	background:#1ec100;
}
a {
	border-radius:.5rem;
	color:#FFF;
	text-decoration:none;
}
a:hover {
	background:rgba(255,255,255,.85);
}
header {
	color:#FFF;
	padding:1.5rem 0 .5rem 0;
}
header h1 {
	margin:0;
	font-size:2rem;
}
footer {
	margin-bottom:2rem;
}
nav {
	font-size:1rem;
}
nav a {
	display:inline-block;
	padding:.3rem;
	margin:0 .5rem;
}
nav a:hover {
	background:rgba(255,255,255,.2);
	border-radius:.2rem;
}
#main {
	padding:1rem;
	max-width:1000px;
	margin:auto;
}
ul {
	list-style-type: none;
	margin:0;
	padding:0;
}
.tool {
	padding:1rem;
	margin-bottom:2rem;
	text-align:right;
	box-shadow:0 0 6rem -2rem rgba(255,255,255,.5);
}
.tool-link {
	display:inline-block;
	font-size:1.2rem;
	padding:.3rem 1rem;
	background:#FFF;
	color:#1ec100;
}
.tool-title {
	display:inline;
}
.tool-desc {
	font-size:1rem;
	padding:1rem 0 0;
	text-align:justify;
}
::selection {
	background:#FFF;
	color:#1ec100;
}
::-webkit-scrollbar {
	width:.8rem;
	background:#1ec100;
}
::-webkit-scrollbar-thumb {
	background:rgba(255,255,255,.4);
	border-radius:1rem;
}
::-webkit-scrollbar-track {
	margin:.1rem 0;
}
@media only screen and (min-width:400px) {
	html {
		font-size:16px;
	}
}
